{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/scripts/login.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block body %}
<form method="POST" action="">
  <h2>Welcome to SlapOS Web Runner</h2>
  <div class="login-content"><br/>
    <div class="login-element login-label"><label for="cpwd">Enter your password : </label></div>
    <div class="login-element"><input type="password" class="idleField login-input" name="cpwd" id="cpwd" value="******" /></div>
    <div class="clear"></div><br/>
    <div class="login-element login-label"><label for="cpwd"><a href="#" id="information" rel="tooltip">I need for help</a><br/></label></div>
    <div class="clear"></div>
  </div>
  <div style="text-align:center; margin-top:7px;">
    <input type="submit" class="button" id="login" value="Open Session" />
  </div>
</form>
<div id="tooltip-information" style="display:none">
<p style="font-size:12px;">
Please find this information in your slaprunner<br/> instance parameters.
</p>
</div>
{% endblock %}