{% extends "layout.html" %}
{% block title %}View {{ type }} log{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/scripts/viewlog.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block body %}
<input type="hidden" name="type" value="{{type}}" id="type" />
<h2 class="hight hide" id="logheader">Slapgrid result for {{ type }}</h2>
<div class="log_btn" id="logconfigbox" style="display:none">
<span style="margin-left:15px; font-size: 18px;"> Update parameters </span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="liveupdate" id="manual" value="manual" />
<label for="manual">Manualy update</label>&nbsp;
<input type="radio" name="liveupdate" id="live" value="live" />
<label for="live">Live update</label>&nbsp;
<input type="radio" name="liveupdate" id="slow" value="slow" />
<label for="slow">From time to time</label>
</div>
<div class='space'></div>
<div class="log_content">
  <div class="log" id="salpgridLog"></div>
  <textarea class="log" readonly id="manualLog" style="display:none">{{result}}</textarea>
</div>
<div class="log_information">
  <div class="log_info_box">
    <h2 class="software">Building State</h2>
    <div class="log_content_box">
      <div id="sr_run_state" class="state_running">
        <span class="legend"></span>
        <p>Processing</p>
        <div class="clear"></div>
      </div>
      <p>SlapOS rebuild your software from source, allowing you to easily patch or add any free software. <a href="#">Lean how!</a></p>
    </div>

    <h2 class="instance">Running State</h2>
    <div class="log_content_box">
      <!--<div id="instance_run_state" class="state_terminated">-->
      <!--<div id="instance_run_state" class="state_stopped">-->
      <div id="instance_run_state" class="state_waiting">
        <span class="legend"></span>
        <p>Waiting for starting</p>
        <div class="clear"></div>
      </div>
      <p>SlapOS configure your running environment to match your needs. <a href="#">Lean how!</a></p>
    </div>

    <div class="separator"></div>
    <div style="height: 38px; text-align: center; padding-top: 25px;">
      <a href="#" id="switch" class="lshare" rel="stop">STOP PROCESS</a>
    </div>
  </div>
</div>
<div class='clear'></div>
{% endblock %}
